.login_section {
  box-shadow: 1px 1px 5px #bbbbbb;
  background-color: #fff;
  border-radius: 5px;
  width: 120%;
  padding: 20%;
}
.login_section h3 {
  color: var(--primary);
  font-size: 1.5em;
}

.username_section,
.email_section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--primary);
}

.username_section input,
.email_section input {
  border: none;
  outline: none;
  padding: 10px 5px;
  font-size: 16px;
  width: 100%;
}

.login_input_icon {
  font-size: 20px;
}

.submit_btn {
  padding: 7px 35px;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}
.submit_btn:hover {
  background-color: var(--white);
  border: 3px solid var(--primary);
  transition: background-color 250ms;
  padding: 4px 32px;
  color: var(--primary);
  font-weight: 500;
}
