.table_header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
.table_header button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-inline: 1px;
  font-size: 16px;
  border: none;
  background: none;
  color: #707070;
  cursor: pointer;
}
.reload_btn {
  border-left: 1px solid var(--text) !important;
  color: #007700 !important;
  font-size: 24px !important;
  margin-left: 10px !important;
}

/* all scanner global css */

.filter_input {
  outline: none;
  width: 25%;
  border: none;
  font-size: 14px;
  padding: 3px;
  border-radius: 3px;
  border-bottom: 2px solid var(--background);
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}
.filter_input:focus {
  border-bottom: 2px solid var(--primary);
}
.filter_input:hover {
  border-bottom: 2px solid var(--primary);
}
