.table_header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.table_header button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-inline: 1px;
  font-size: 16px;
  border: none;
  background: none;
  color: #707070;
  cursor: pointer;
}
.reload_btn {
  border-left: 1px solid var(--text) !important;
  color: #007e02 !important;
  font-size: 24px !important;
  margin-left: 10px !important;
}
