.content_container_h3{
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content:end;
  font-size: 12px;
}
.content_container img{
  height: 50px;
  width: 50px;
  margin-left: 10px;
  border-radius: 50%;
}

.home_body {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 7px;
}

.type_writer_h1 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

.type_writer {
  position: relative;
}

.type_writer::after {
  scroll-behavior: smooth;
  content: "Hello!";
  position: absolute;
  right: 0;
  color: var(--primary);
  background: var(--white);
  border-radius: 7px;
  width: 100%;
  animation: typing 5s alternate infinite linear, line 1.5s infinite;
}

@keyframes typing {
  to {
    width: 0%;
  }
}
@keyframes line {
  50% {
    color: transparent;
  }
}
