.parameter_container {
  width: 100%;
  font-size: 14px;
}
.parameter_container table .input_field_section {
  width: 88%;
}
.parameter_container table tbody tr td .parameter_inputfield {
  width: 100%;
  outline: none;
  border: none;
  padding: 3px;
  border-radius: 3px;
  border-bottom: 2px solid var(--background);
  margin-left: 15px;
  font-family: "Poppins", sans-serif;
  resize: none;
}
.parameter_container table tbody tr td .parameter_inputfield:focus {
  border-bottom: 2px solid var(--primary);
}
.parameter_container table tbody tr td .parameter_inputfield:hover {
  border-bottom: 2px solid var(--primary);
}
.parameter_container table tbody tr td p {
  color: var(--text);
  font-weight: 500;
}

.mongoDb_parameter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.mongoDb_parameter input {
  display: hidden;
}
.mongoDb_parameter button {
  background-color: transparent;
  border: none;
  margin-left: 20px;
}
.mongoDB_save_btn {
  background-color: var(--white);
  text-decoration: none;
  border: none;
  border-radius: 7px;
  padding: 5px 15px;
  cursor: pointer;
  color: var(--primary);
  transition: background-color 200ms;
  border: 2px solid var(--primary);
  text-decoration: none;
  color: var(--primary);
}
.mongoDB_save_btn:hover {
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--secondary);
  padding: 5px 15px;
  color: var(--white);
}
