.opentab_header {
  background-color: var(--background);
  height: 40px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 2%;
}
.opentab_back_btn {
  text-decoration: none;
  color: var(--primary);
  padding-right: 15px;
  border-right: 1px solid var(--text);
}
.opentab_header p {
  margin-left: 10px;
}

/* opentab navbar */

.opentab_navbar {
  padding-inline: 1%;
  height: 40px;
  background-color: #f5f5f5;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.opentab_navlink {
  border-top-right-radius: 2px;
  border-top-left-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  padding: 5px 20px;
}
.opentab_active {
  border-top: 4px solid var(--primary);
  border-bottom: 4px solid var(--white);
  background-color: var(--white);
}
