.opentab_header {
  background-color: var(--background);
  height: 40px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 2%;
}
.opentab_back_btn {
  text-decoration: none;
  color: var(--primary);
  padding-right: 15px;
  border-right: 1px solid var(--text);
}
.opentab_header p {
  margin-left: 10px;
}

/* opentab navbar */

.opentab_navbar {
  padding-inline: 1%;
  height: 40px;
  background-color: #f9f9f9;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.opentab_navlink {
  /* pointer-events: none; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  padding: 5px 20px;
  color: var(--text);
}
.opentab_active {
  color: var(--primary);
  border-top: 4px solid var(--primary);
  border-bottom: 4px solid var(--white);
  background-color: var(--white);
}

/* opentab buttons */

.opentab_buttons .opentab_btn {
  border: none;
  margin-inline: 2px;
  padding: 11px 25px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 200ms;
}
.opentab_buttons .opentab_btn:hover {
  background-color: var(--white);
  border: 2px solid var(--primary);
  padding: 9px 23px;
  font-weight: 500;
  color: var(--primary);
}
.opentab_save_btn:hover {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}
