.navbar_container {
  height: 100vh;
  box-shadow: 1px 1px 5px var(--background);
}
.nav_logo {
  width: 80%;
  height: 20px;
  padding-top: 50px;
  cursor: pointer;
}
.navbar_sections {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.route_link {
  cursor: pointer;
  text-decoration: none;
  text-align: left;
}

.navbar_icon {
  margin-top: 7px;
}

.route_btn {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  width: 100%;
  padding-block: 5px;
  line-height: 1.5em;
  color: var(--text);
  background-color: transparent;
}
.logout_btn {
  background-color: transparent !important;
}
.active {
  background-color: var(--background);
}

.nav_divider {
  border: 1px solid var(--primary);
  width: 97%;
}
