:root {
  --background: #dddddd;
  --secondary: #99ccff;
  --primary: #3366ff;
  --white: #f8f8f8;
  --text: #202020;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(#fff, #eeeeff);
}
