:root {
  --background: #dddddd;
  --secondary: #4aa5ff;
  --primary: #3366ff;
  --white: #ffffff;
  --text: #202020;
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 80px calc(100% - 80px);
  width: 100%;
  height: 100%;
  background: radial-gradient(#ffffff, #eeeeff);
}

.navbar_section {
  grid-row: 1 / 2;
}
.content_section {
  height: 100vh;
  grid-row: 2/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ~~~~~~~~~~~~~~~~ */
/* Global CSS Style */
/* ~~~~~~~~~~~~~~~~ */

.container {
  display: grid;
  grid-template-columns: 80px calc(100vw - 80px);
}
.nav_container {
  height: 100vh;
  width: 80px;
  box-shadow: 1px 1px 5px var(--background);
}
.content_container {
  margin: 10px;
  height: 100vh;
}

.error_message {
  font-size: 11px;
  color: #ff2d2d;
  padding: 10px;
}
