:root {
  --background: #dddddd;
  --secondary: #4aa5ff;
  --primary: #3366ff;
  --white: #ffffff;
  --text: #202020;
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 80px calc(100% - 80px);
  width: 100%;
  background: radial-gradient(#ffffff, #eeeeff);
}

.navbar_section {
  grid-row: 1 / 2;
}
.content_section {
  height: 100vh;
  grid-row: 2/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ~~~~~~~~~~~~~~~~ */
/* Global CSS Style */
/* ~~~~~~~~~~~~~~~~ */
