.opentab_parameters {
  position: relative;
}
.opentab_details_container {
  display: grid;
  gap: 15px;
  height: 100%;
  text-align: left;
  grid-template-columns: 1fr 2fr;
}
.opentab_details_container p {
  font-weight: 600;
  color: var(--primary);
}

/* Details Section */
.opentab_details_form .label {
  font-size: 10px;
}
.opentab_details_form .opentab_details_input {
  outline: none;
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 3px;
  border-radius: 3px;
  border-bottom: 2px solid var(--background);
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  resize: none;
}
.opentab_details_form .opentab_details_input:focus {
  border-bottom: 2px solid var(--primary);
}
.opentab_details_form .opentab_details_input:hover {
  border-bottom: 2px solid var(--primary);
}

/* button */
.save_button,
.edit_btn {
  position: absolute;
  top: -2.5em;
  right: 1em;

  border: 2px solid var(--primary);
  color: var(--primary);
  margin-inline: 2px;
  padding: 9px 23px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 300ms;
}
.save_button:hover,
.edit_btn:hover {
  background-color: var(--primary);
  padding: 9px 23px;
  font-weight: 500;
  color: var(--white);
}
.edit_btn{
  top: 0;
  background-color: transparent;
}

.filePath {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parameter_inputfield {
  outline: none;
  border: none;
  padding: 3px;
  border-radius: 3px;
  width: clamp(100%, 400px, 400px);
  border-bottom: 2px solid var(--background);
  margin-left: 15px;
  font-family: "Poppins", sans-serif;
  resize: none;
}
.parameter_inputfield:focus {
  border-bottom: 2px solid var(--primary);
}
.parameter_inputfield:hover {
  border-bottom: 2px solid var(--primary);
}