.opentab_details_container {
  gap: 15px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}
.opentab_details{
  
}

.opentab_details_container p {
  font-weight: 600;
  color: var(--primary);
}

/* Details Section */
.opentab_details_form .label {
  font-size: 10px;
}
.opentab_details_form .opentab_details_input {
  outline: none;
  /* width: 100%; */
  border: none;
  font-size: 16px;
  padding: 3px;
  border-radius: 3px;
  border-bottom: 2px solid var(--background);
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  resize: none;
}
.opentab_details_form .opentab_details_input:focus {
  border-bottom: 2px solid var(--primary);
}
.opentab_details_form .opentab_details_input:hover {
  border-bottom: 2px solid var(--primary);
}


.submit_button {
  background-color: var(--white);
  text-decoration: none;
  border: none;
  border-radius: 7px;
  padding:10px 15px;
  cursor: pointer;
  color: var(--primary);
  transition: background-color 200ms;
  border: 2px solid var(--primary);
  text-decoration: none;
  color: var(--primary);
}
.submit_button:hover {
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--secondary);
  padding: 10px 15px;
  color: var(--white);
}